{% extends "main/index.html" %}
{% load crispy_forms_tags %}
{% block title %} BugTrack - Update Attachment {% endblock title %}
{% block content %}

	<div class="main-container">

        <div class="navbar bg-white breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'team-list' %}">Team</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'project-info' object.ticket.project.id %}">Project</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'ticket-info' object.ticket.id %}">Ticket</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Update Attachment</li>
            </ol>
          </nav>
        </div>

	<div class="main-container fullscreen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7">
          <div class="text-center">
            <h1 class="h2">Update Attachment</h1>
            <form method="POST">
            	{% csrf_token %}
              <div class="form-group">
                {{ form|crispy }}
              </div>

              <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                Update Attachment
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}