{% extends "main/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="main-container">

        <div class="navbar bg-white breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'team-list' %}">Team</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'project-info' ticket.project.id %}">Project</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Ticket</li>
            </ol>
          </nav>

          <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">settings</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Ticket</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{% url 'ticket-delete' ticket.id %}">Delete</a>

            </div>
          </div>

        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
              <div class="page-header">
                <h1>{{ ticket.title }}</h1>
                <p class="lead">{{ ticket.description }}</p>
                <div class="form-group row align-items-center">
                  <label class="col">Priority:</label>
                  <div class="col">
                    <span class="h6" data-filter-by="text">{{ ticket.priority }}</span>
                  </div>
                  <label class="col">Status:</label>
                  <div class="col">
                    <span class="h6" data-filter-by="text">{{ ticket.status }}</span>
                  </div>
                  <label class="col">Ticket Type:</label>
                  <div class="col">
                    <span class="h6" data-filter-by="text">{{ ticket.ticket_type }}</span>
                  </div>
                  <label class="col">Deadline:</label>
                  <div class="col">
                    <span class="h6" data-filter-by="text">{{ ticket.deadline }}</span>
                  </div>
                  <label class="col">Submitter:</label>
                  <div class="col">
                    <span class="h6" data-filter-by="text">{{ ticket.submitter.username }}</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <ul class="avatars">
                    {% for developer in developers %}
                      <li>
                        <a href="{% url 'user-profile' developer.user.id %}" data-toggle="tooltip" data-placement="top" title="{{ developer.user.username }}">
                          <img alt="{{ developer.user.username }}" class="avatar" src="{{ developer.user.profile.image.url }}" />
                        </a>
                      </li>
                    {% endfor %}

                  </ul>
                  <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                
              </div>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="comments" role="tabpanel" data-filter-list="card-list-body">
                  <!--end of content list head-->
                  <div class="content-list" data-filter-list="content-list-body">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Comments</h3>
                        <button class="btn btn-round" data-toggle="modal" data-target="#comment-add-modal">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body">
                      {% for comment in comments %}
                      <div class="card card-note">
                        <div class="card-header">
                          <div class="media align-items-center">
                            <img alt="{{ comment.author.username }}" src="{{ comment.author.profile.image.url }}" class="avatar" data-toggle="tooltip" data-title="{{ comment.author.username }}" data-filter-by="alt" />
                            <div class="media-body">
                              <h6 class="mb-0" data-filter-by="text">{{ comment.subject}}</h6>
                            </div>
                          </div>
                          <div class="d-flex align-items-center">
                            <span data-filter-by="text">{{ comment.date_created }}</span>
                            <div class="ml-1 dropdown card-options">
                              <button class="btn-options" type="button" id="note-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'comment-update' comment.id %}">Edit</a>
                                <a class="dropdown-item text-danger" href="#">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body" data-filter-by="text">
                          <p>{{ comment.message }}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="files" role="tabpanel" data-filter-list="dropzone-previews">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Files</h3>
                        <button class="btn btn-round" data-toggle="modal" data-target="#file-add-modal">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body row">
                      <div class="col">

                        <ul class="list-group list-group-activity dropzone-previews flex-column-reverse">
                          {% for attachment in attachments %}
                            <li class="list-group-item">
                              <div class="media align-items-center">
                                <ul class="avatars">
                                  <li>
                                    <div class="avatar bg-primary">
                                      <i class="material-icons">insert_drive_file</i>
                                    </div>
                                  </li>
                                  <li>
                                    <img alt="{{ attachment.poster.username }}" src="{{ attachment.poster.profile.image.url }}" class="avatar" data-title="{{ attachment.poster.username }}" data-toggle="tooltip" data-filter-by="data-title" />
                                  </li>
                                </ul>
                                <div class="media-body d-flex justify-content-between align-items-center">
                                  <div>
                                    <a href="#" data-filter-by="text">{{ attachment.title }}</a>
                                    <br>
                                    <span class="text-small" data-filter-by="text">{{ attachment.description }}</span>
                                  </div>
                                  <div class="dropdown">
                                    <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="material-icons">more_vert</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                      <a class="dropdown-item" href="#">Download</a>
                                      <a class="dropdown-item" href="#">Share</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--end of content list-->
                </div>
                <!--end of tab-->
                <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Members</h3>
                        <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body row">
                      {% for developer in developers %}
                        <div class="col-6">
                          <a class="media media-member" href="{% url 'user-profile' developer.user.id %}">
                            <img alt="{{ member.user.username }}" src="{{ developer.user.profile.image.url }}" class="avatar avatar-lg" />
                            <div class="media-body">
                              <h6 class="mb-0" data-filter-by="text">{{ developer.user.username }}</h6>
                              <span data-filter-by="text" class="text-body">{{ developer.user.membership.role }}</span>
                            </div>
                          </a>
                          <div class="card-body">
                              <div class="dropdown card-options">
                                <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="{% url 'membership-update' developer.user.membership.id %}">Edit Role</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item text-danger" href="{% url 'ticketdev-delete' developer.id %}" >Remove</a>
                                </div>
                              </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!--end of content list-->
                </div>
                <div class="tab-pane fade" id="activity" role="tabpanel" data-filter-list="list-group-activity">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Activity</h3>
                      </div>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body">
                      <ol class="list-group list-group-activity">
                        {% for history in history_list %}
                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">{{ history.icon_type }}</i>
                                </div>
                              </li>
                              <li>
                                <img alt="{{ history.user.username }}" src="{{ history.user.profile.image.url }}" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">{{ history.user.username }}</span>
                                {% if history.old_value %}
                                  <span data-filter-by="text">{{ history.action }}</span><a href="#" data-filter-by="text">oldvalue={{ history.old_value }} // newvalue={{ history.new_value}}</a>
                                {% else %}
                                  <span data-filter-by="text">{{ history.action }}</span><a href="#" data-filter-by="text">{{ history.new_value}}</a>
                                {% endif %}
                              </div>
                              <span class="text-small" data-filter-by="text">{{ history.date_changed }}</span>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ol>
                    </div>
                  </div>
                  <!--end of content list-->
                </div>
              </div>
              <form method="POST" class="modal fade" id="user-manage-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Users</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <div class="modal-body">
                      {{ u_form|crispy }}
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="user_add">
                        Add User
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <form method="POST" class="modal fade" id="project-edit-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Ticket</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="project-edit-details-tab" data-toggle="tab" href="#project-edit-details" role="tab" aria-controls="project-edit-details" aria-selected="true">Details</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="project-edit-details" role="tabpanel">
                          <h6>General Details</h6>
                          {{ form|crispy }}
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="ticket_edit">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <form method="POST" class="modal fade" id="comment-add-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">New Comment</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Comment</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                          {{ comment_form|crispy }}
                          <hr>               
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="comment_add">
                        Add Comment
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <form method="POST" enctype="multipart/form-data" class="modal fade" id="file-add-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">New File</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">File</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                          {{ file_form|crispy }}
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="file_add">
                        Add File
                      </button>
                    </div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock content%}