{% extends "main/base.html" %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ticket.title}}</h1>
  </div>
  <div>
    <a href="{% url 'ticket-update' ticket.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
    <a href="{% url 'ticket-delete' ticket.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Developers</h3>
  </div>
  {% if user.role == Admin %}
    <a href="{% url 'ticketdev-create' ticket.id %}" class="btn btn-info btn-lg active mb-3" role="button" aria-pressed="true">Add a Developer</a>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th></th>
          <th>User</th>
          <th>Email</th>
          <th>Role</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody>
        {% for developer in page_obj_devs %}
        <tr>
          <td><img width="50" height="50" class="rounded-circle account-img" src="{{ developer.user.profile.image.url }}"></td>
          <td>{{ developer.user.username }}</td>
          <td>{{ developer.user.email }}</td>
          <td>{{ developer.user.membership.role }}</td>
          <td>{{ developer.date_added }}</td>
          {% if user.role == Admin %}
            <td>
                <a href="{% url 'ticketdev-delete' developer.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
            </td>    
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj_devs.has_previous == True or page_obj_devs.has_next == True %}
    {% if page_obj_devs.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_devs.previous_page_number }}">{{ page_obj_devs.previous_page_number }}</a>
    {% endif %}
    <a class="btn btn-info mb-4" href="?page={{ page_obj_devs.number }}">{{ page_obj_devs.number }}</a>
    {% if page_obj_devs.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_devs.next_page_number }}">{{ page_obj_devs.next_page_number }}</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj_devs.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Comments</h3>
  </div>
  <a href="{% url 'comment-create' ticket.id %}" class="btn btn-info btn-lg active mb-3" role="button" aria-pressed="true">Create A New Comment</a>
	<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Author</th>
          <th>Comment</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
	      {% for comment in page_obj_comments %}
        <tr>
          <td>{{ comment.author }}</td>
          <td>{{ comment.message }}</td>
          <td>{{ comment.date_created }}</td>
          {% if request.user == comment.author %}
            <td>
              <a href="{% url 'comment-update' comment.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
              <a href="{% url 'comment-delete' comment.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- {% if page_obj_.has_previous == True or page_obj_.has_next == True %}
    {% if page_obj_.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_.previous_page_number }}">{{ page_obj_.previous_page_number }}</a>
    {% endif %}
    <a class="btn btn-info mb-4" href="?page={{ page_obj_.number }}">{{ page_obj_.number }}</a>
    {% if page_obj_.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_.next_page_number }}">{{ page_obj_.next_page_number }}</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj_.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %} -->

  {% if page_obj_comments.has_previous == True or page_obj_comments.has_next == True %}
    {% if page_obj_comments.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_comments.previous_page_number }}">{{ page_obj_comments.previous_page_number }}</a>
    {% endif %}
    <a class="btn btn-info mb-4" href="?page={{ page_obj_comments.number }}">{{ page_obj_comments.number }}</a>
    {% if page_obj_comments.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_comments.next_page_number }}">{{ page_obj_comments.next_page_number }}</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj_comments.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}




  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Ticket History</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Date Changed</th>
        </tr>
      </thead>
      <tbody>
        {% for history in page_obj_history %}
        <tr>
          <td>{{ history.user }}</td>
          <td>{{ history.action }}</td>
          <td>{{ history.old_value }}</td>
          <td>{{ history.new_value }}</td>
          <td>{{ history.date_changed }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if page_obj_history.has_previous == True or page_obj_history.has_next == True %}
    {% if page_obj_history.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_history.previous_page_number }}">{{ page_obj_history.previous_page_number }}</a>
    {% endif %}
    <a class="btn btn-info mb-4" href="?page={{ page_obj_history.number }}">{{ page_obj_history.number }}</a>
    {% if page_obj_history.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_history.next_page_number }}">{{ page_obj_history.next_page_number }}</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj_history.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}



  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Attachments</h3>
  </div>
  {% if user.role == Admin or user.role == Developer %}
    <a href="{% url 'attachment-create' ticket.id %}" class="btn btn-info btn-lg active mb-3" role="button" aria-pressed="true">Add an Attachment</a>
  {% endif %}
	<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>User</th>
          <th>Description</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        {% for attachment in page_obj_attachments %}
        <tr>
          <td>{{ attachment.poster }}</td>
          <td>{{ attachment.description }}</td>
          <td><a href="{{ attachment.file.url }}">{{ attachment.title }}</a></td>
          <td>
              <a href="{% url 'attachment-update' attachment.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
              <a href="{% url 'attachment-delete' attachment.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {% if page_obj_attachments.has_previous == True or page_obj_attachments.has_next == True %}
    {% if page_obj_attachments.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_attachments.previous_page_number }}">{{ page_obj_attachments.previous_page_number }}</a>
    {% endif %}
    <a class="btn btn-info mb-4" href="?page={{ page_obj_attachments.number }}">{{ page_obj_attachments.number }}</a>
    {% if page_obj_attachments.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj_attachments.next_page_number }}">{{ page_obj_attachments.next_page_number }}</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj_attachments.paginator.num_pages }}">Last</a>
    {% endif %}
  {% endif %}


{% endblock content %}