{% extends "main/index.html" %}
{% load crispy_forms_tags %}
{% block title %} BugTrack - Team Info {% endblock title %}
{% block content %}
      <div class="main-container">

        <div class="navbar bg-white breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Team</li>
            </ol>
          </nav>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% if request.user.membership.role == 'Admin' %}
            <div class="dropdown">
              <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">settings</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
              <div class="page-header">
                <h1>{{ team.name }}</h1>
                <p class="lead">{{ team.description }}</p>
                <div class="d-flex align-items-center">
                  <ul class="avatars">
                    {% for member in members %}
                      <li>
                        <a href="{% url 'user-profile' member.id %}" data-toggle="tooltip" data-placement="top" title="{{ member.username }}">
                          <img alt="{{ member.username }}" class="avatar" src="{{ member.profile.image.url }}" />
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <hr>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="projects" role="tabpanel" data-filter-list="content-list-body">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Projects</h3>
                        {% if request.user.membership.role == 'Admin'%}
                          <button class="btn btn-round" data-toggle="modal" data-target="#project-add-modal">
                            <i class="material-icons">add</i>
                          </button>
                        {% endif %}
                      </div>
                      <form method="GET" class="col-md-auto">
                        <div class="input-group input-group-round">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                          </div>
                          {% if query == None %}
                            <input type="search" class="form-control filter-list-input" placeholder="Filter Projects" name="query">
                          {% else %}
                            <input value="{{ query }}" type="search" class="form-control filter-list-input" placeholder="Filter Projects" name="query">
                          {% endif %}
                        </div>
                      </form>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body row">
                      {% for project in projects %}
                        <div class="col-lg-6">
                          <div class="card card-project">
                            
                            <div class="card-body">
                              {% if request.user.membership.role == 'Admin' or request.user.membership.role == 'Project Manager' %}
                                <div class="dropdown card-options">
                                  <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'project-update' project.id %}">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="{% url 'project-delete' project.id %}">Delete</a>
                                  </div>
                                </div>
                              {% endif %}
                              <div class="card-title">
                                <a href="{% url 'project-info' project.id %}">
                                  <h5 data-filter-by="text">{{ project.name }}</h5>
                                </a>
                              </div>
                              <ul class="avatars">
                                {% if project.members.all %}
                                  {% for member in project.members.all %}
                                    <li>
                                      <a href="{% url 'user-profile' member.id %}" data-toggle="tooltip" title="{{ member.username }}">
                                        <img alt="{{ member.username }}" class="avatar" src="{{ member.profile.image.url }}" data-filter-by="alt" />
                                      </a>
                                    </li>
                                  {% endfor %}
                                {% else %}
                                  <li>
                                    <a href=""></a>
                                  </li>
                                {% endif %}
                              </ul>
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <!-- <i class="material-icons mr-1">playlist_add_check</i>
                                  <span class="text-small">6/10</span> -->
                                </div>
                                <span class="text" data-filter-by="text"><b>Number of Tickets:</b> {{ project.ticket_set.count }}</span>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      {% endfor %}
                    </div>
                    <!--end of content list body-->
                  </div>
                  <!--end of content list-->
                <div class="pagination justify-content-center">
                  
                    {% if projects.has_previous == True or projects.has_next == True %}
                      {% if projects.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                      {% endif %}
                      {% for num in projects.paginator.page_range %}
                        {% if projects.number == num %}
                          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > projects.number|add:-2 %}
                          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                      {% endfor %}

                      {% if projects.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{projects.paginator.num_pages }}">Last</a>
                      {% endif %}
                    {% endif %}

                </div>
              </div>
                
                <!--end of tab-->
                <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Members</h3>

                      </div>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body row">
                      {% for member in members %}
                        <div class="col-6">
                          <a class="media media-member" href="{% url 'user-profile' member.id %}">
                            <img alt="{{ member.username }}" src="{{ member.profile.image.url }}" class="avatar avatar-lg" />
                            <div class="media-body">
                              <h6 class="mb-0" data-filter-by="text">{{ member.username }}</h6>
                              <span data-filter-by="text" class="text-body">{{ member.membership.role }}</span>
                            </div>
                          </a>
                          {% if request.user.membership.role == 'Admin' %}
                            <div class="card-body">
                                <div class="dropdown card-options">
                                  <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'membership-update' member.membership.id %}">Edit Role</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="{% url 'membership-delete' member.membership.id %}" >Remove</a>
                                  </div>
                                </div>
                            </div>
                          {% endif %}
                        </div>
                      {% endfor%}

                    </div>
                  </div>
                  <!--end of content list-->
                </div>
              </div>

              <form method="POST" class="modal fade" id="team-manage-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Update Team</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="team-manage-details-tab" data-toggle="tab" href="#team-manage-details" role="tab" aria-controls="team-manage-details" aria-selected="true">Details</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="team-manage-details" role="tabpanel">
                          <h6>Team Details</h6>
                          {{ update_form|crispy }}
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="team_update">
                        Done
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <form method="POST" class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">New Project</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Details</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                          <h6>General Details</h6>
                            {{ form|crispy }}
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="project_create">
                        Create Project
                      </button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}