{% extends "main/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="main-container">

        <div class="navbar bg-white breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'team-list' %}">Team</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
          </nav>

          <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">settings</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Project</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{% url 'project-delete' project.id %}">Delete</a>

            </div>
          </div>

        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
              <div class="page-header">
                <h1>{{ project.name }}</h1>
                <p class="lead">{{ project.description }}</p>
                <div class="d-flex align-items-center">
                  <ul class="avatars">
                    {% for member in members %}
                      <li>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="{{ member.user.username }}">
                          <img alt="{{ member.user.username }}" class="avatar" src="{{ member.user.profile.image.url }}" />
                        </a>
                      </li>
                    {% endfor %}

                  </ul>
                  <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                
              </div>
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Tickets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tasks" role="tabpanel" data-filter-list="card-list-body">
                  <div class="row content-list-head">
                    <div class="col-auto">
                      <h3>Tickets</h3>
                      <button class="btn btn-round" data-toggle="modal" data-target="#task-add-modal">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                    <form class="col-md-auto">
                      <div class="input-group input-group-round">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">filter_list</i>
                          </span>
                        </div>
                        <input type="search" class="form-control filter-list-input" placeholder="Filter tasks" aria-label="Filter Tasks">
                      </div>
                    </form>
                  </div>
                  <!--end of content list head-->
                  <div class="content-list-body row">
                      {% for ticket in tickets %}
                        <div class="col-lg-6">
                          <div class="card card-project">
                            <div class="progress">
                              {% if ticket.status == 'Open' %}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              {% elif ticket.status == 'In Progress' or ticket.status == 'Waiting on More Info' %}
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              {% elif ticket.status == 'Closed' or ticket.status == 'Resolved' %}
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              {% endif %}
                            </div>
                            <div class="card-body">
                              <div class="dropdown card-options">
                                <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="{% url 'ticket-update' ticket.id%}">Edit</a>
                                  <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="{% url 'ticket-delete' ticket.id %}">Delete</a>
                                </div>
                              </div>
                              <div class="card-title">
                                <a href="{% url 'ticket-info' ticket.id %}">
                                  <h5 data-filter-by="text">{{ ticket.title }}</h5>
                                </a>
                              </div>
                              <ul class="avatars">
                                {% for member in ticket.developers.all %}
                                  <li>
                                    <a href="#" data-toggle="tooltip" title="{{ member.username }}">
                                      <img alt="{{ member.username }}" class="avatar" src="{{ member.profile.image.url }}" data-filter-by="alt" />
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  
                                </div>
                                <span class="text-small" data-filter-by="text">Due {{ ticket.deadline }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  <!--end of content list-->
                </div>
                <!--end of tab-->
                <div class="tab-pane fade" id="members" role="tabpanel" data-filter-list="content-list-body">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Members</h3>
                        <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                      <form class="col-md-auto">
                        <div class="input-group input-group-round">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                          </div>
                          <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                        </div>
                      </form>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body row">
                      {% for member in members %}
                        <div class="col-6">
                          <a class="media media-member" href="#">
                            <img alt="{{ member.user.username }}" src="{{ member.user.profile.image.url }}" class="avatar avatar-lg" />
                            <div class="media-body">
                              <h6 class="mb-0" data-filter-by="text">{{ member.user.username }}</h6>
                              <span data-filter-by="text" class="text-body">{{ member.user.membership.role }}</span>
                            </div>
                          </a>
                          <div class="card-body">
                              <div class="dropdown card-options">
                                <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="{% url 'membership-update' member.user.membership.id %}">Edit Role</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item text-danger" href="{% url 'projectmember-delete' member.id %}" >Remove</a>
                                </div>
                              </div>
                          </div>
                        </div>

                      {% endfor %}

                    </div>
                  </div>
                  <!--end of content list-->
                </div>
                <div class="tab-pane fade" id="activity" role="tabpanel" data-filter-list="list-group-activity">
                  <div class="content-list">
                    <div class="row content-list-head">
                      <div class="col-auto">
                        <h3>Activity</h3>
                      </div>
                      <form class="col-md-auto">
                        <div class="input-group input-group-round">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                          </div>
                          <input type="search" class="form-control filter-list-input" placeholder="Filter activity" aria-label="Filter activity">
                        </div>
                      </form>
                    </div>
                    <!--end of content list head-->
                    <div class="content-list-body">
                      <ol class="list-group list-group-activity">

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">playlist_add_check</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Claire" src="assets/img/avatar-female-1.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Claire</span>
                                <span data-filter-by="text">completed the task</span><a href="#" data-filter-by="text">Set up client chat channel</a>
                              </div>
                              <span class="text-small" data-filter-by="text">Just now</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">person_add</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Ravi" src="assets/img/avatar-male-3.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Ravi</span>
                                <span data-filter-by="text">joined the project</span>
                              </div>
                              <span class="text-small" data-filter-by="text">5 hours ago</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">playlist_add</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Kristina" src="assets/img/avatar-female-4.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Kristina</span>
                                <span data-filter-by="text">added the task</span><a href="#" data-filter-by="text">Produce broad concept directions</a>
                              </div>
                              <span class="text-small" data-filter-by="text">Yesterday</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">playlist_add</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Marcus" src="assets/img/avatar-male-1.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Marcus</span>
                                <span data-filter-by="text">added the task</span><a href="#" data-filter-by="text">Present concepts and establish direction</a>
                              </div>
                              <span class="text-small" data-filter-by="text">Yesterday</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">person_add</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Sally" src="assets/img/avatar-female-3.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Sally</span>
                                <span data-filter-by="text">joined the project</span>
                              </div>
                              <span class="text-small" data-filter-by="text">2 days ago</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">date_range</i>
                                </div>
                              </li>
                              <li>
                                <img alt="Claire" src="assets/img/avatar-female-1.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">Claire</span>
                                <span data-filter-by="text">rescheduled the task</span><a href="#" data-filter-by="text">Target market trend analysis</a>
                              </div>
                              <span class="text-small" data-filter-by="text">2 days ago</span>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div class="media align-items-center">
                            <ul class="avatars">
                              <li>
                                <div class="avatar bg-primary">
                                  <i class="material-icons">add</i>
                                </div>
                              </li>
                              <li>
                                <img alt="David" src="assets/img/avatar-male-4.jpg" class="avatar" data-filter-by="alt" />
                              </li>
                            </ul>
                            <div class="media-body">
                              <div>
                                <span class="h6" data-filter-by="text">David</span>
                                <span data-filter-by="text">started the project</span>
                              </div>
                              <span class="text-small" data-filter-by="text">12 days ago</span>
                            </div>
                          </div>
                        </li>

                      </ol>
                    </div>
                  </div>
                  <!--end of content list-->
                </div>
              </div>
              <form method="POST" class="modal fade" id="user-manage-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Users</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <div class="modal-body">
                      {{ member_form|crispy }}
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="member_submit">
                        Add Member
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <form method="POST" class="modal fade" id="project-edit-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Project</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="project-edit-details-tab" data-toggle="tab" href="#project-edit-details" role="tab" aria-controls="project-edit-details" aria-selected="true">Details</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="project-edit-details" role="tabpanel">
                          <h6>General Details</h6>
                          {{ u_form|crispy }}
                        </div>
                      </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="update_form">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <form method="POST" class="modal fade" id="task-add-modal" tabindex="-1" aria-hidden="true">
                {% csrf_token %}
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">New Ticket</h5>
                      <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                    <!--end of modal head-->
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Details</a>
                      </li>
                    </ul>
                    <div class="modal-body">
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                          <h6>General Details</h6>
                          {{ form|crispy }}
                        </div>
                      </div>
                  </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                      <button role="button" class="btn btn-primary" type="submit" name="ticket_form">
                        Create Ticket
                      </button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content%}