{% extends "main/base.html" %}
{% block content %}
		<div class="table-responsive">
      {% if role == 'hi' %}
        <h1>It Works</h1>
      {% endif %}
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
			      {% for project in projects %}
            <tr>
              <td>{{ project.name }}</td>
              <td>{{ project.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
	
{% endblock content %}