{% extends "main/index.html" %}
{% block content %}
	<div class="main-container">

        <div class="navbar bg-white breadcrumb-bar">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </nav>

        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
              <div class="page-header mb-4">
                <div class="media">
                  
                  <div class="media-body ml-3">
                    <h1 class="mb-0 row justify-content-center">Dashboard</h1>
                    <p class="lead row justify-content-center">Overview of Tickets</p>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tasks" role="tabpanel" data-filter-list="card-list-body">
                  
                  <!--end of content list head-->
                  <div class="content-list-body row">

                        <div class="col-lg-6">
                          <div class="card card-project">
                            
                            <div class="card-body">
                              
                              <div class="card-title">
                                <h5 class="text-center" data-filter-by="text">Tickets by Priority</h5>
                              </div>
                              
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6 class="text-danger">High: {{ ticket_high_count }}</h6>
                                </div>
                                <h6 class="text-info">Medium: {{ ticket_medium_count }}</h6>
                              </div>
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6 class="text-warning">Low: {{ ticket_low_count }}</h6>
                                </div>
                                <h6>None: {{ ticket_none_count }}</h6>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="card card-project">
                            
                            <div class="card-body">
                              <div class="card-title">
                                <h5 class="text-center" data-filter-by="text">Tickets by Status</h5>
                              </div>
                              
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6>Open/In Progress: {{ ticket_open_progress_count }}</h6>
                                </div>
                                <h6>Closed/Resolved: {{ ticket_closed_resolved_count }}</h6>
                              </div>
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6>Waiting on More Info: {{ ticket_waiting_count }}</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 mx-auto">
                          <div class="card card-project">
                            
                            <div class="card-body">
                              
                              <div class="card-title">
                                <h5 class="text-center" data-filter-by="text">Tickets by Type</h5>
                              </div>
                              
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6>New Feature: {{ ticket_new_feature_count }}</h6>
                                </div>
                                <h6>Bug: {{ ticket_bug_count }}</h6>
                              </div>
                              <div class="card-meta d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h6>Improvement: {{ ticket_improvement_count }}</h6>
                                </div>
                                <h6>Task: {{ ticket_task_count }}</h6>
                              </div>
                            </div>
                          </div>
                        </div>



                    </div>
                  <!--end of content list-->
                </div>
                <!--end of tab-->
              </div>
            </div>
          </div>
        </div>

    </div>
{% endblock content %}